<div class="slide slide-1">
<div class="container">



  <div class="row">
    <div class="col-xs-12">
      <div class="slide-content">


        <h1><%= image_tag "logo.png", id: "logo" %> Digitales</h1>
        <h2> Tell your own digital adventure </h2>
        <p>
          Digitales est une plateforme qui rassemble des récits témoignant de l'impact du numérique dans la vie de chacun.
          C'est une invitation a explorer l'aventure numérique d'une multitude de façons afin de parcourir son évolution.
        </p>
        <div class="hpage_links">
          <%= link_to "see a portrait", aventures_path, class: "btn btn-default" %>
          <%= link_to "see a theme", variables_path, class: "btn btn-default " %>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- <div class="hpage">
  <div class="hpage_box">


  </div>
</div> -->
