<div class="hpage">
  <div class="hpage_box">
    <h1>DIGITALES</h1>
    <h2> Make your own digital adventure </h2>
    <p>
      Digitales est une plateforme qui rassemble des récits témoignant de l'impact du numérique dans la vie de chacun.
      C'est une invitation a explorer l'aventure numérique d'une multitude de façons afin de parcourir son évolution.
    </p>
    <div class="hpage_links">
      <%= link_to "See a portrait", aventures_path %>
      <%= link_to "See a theme", variables_path %>
    </div>
  </div>
</div>
