<p id="notice"><%= notice %></p>

<h1>Aventures</h1>

<% @aventures.each do |aventure| %>
  <%= link_to image_tag(aventure.aventure_portrait.url(:thumb)), aventure%>
<% end %>


<br><br>


<%= link_to 'New Aventure', new_aventure_path %>
