<p id="notice"><%= notice %></p>
<div class="portrait_gallery">
  <% @aventures.each do |aventure| %>
  <div class="gallery_img">
    <%= link_to image_tag(aventure.aventure_portrait.url(:thumb)), aventure %>
    <div class="btn btn-white"><%= link_to "découvrir", aventure %></div>
  </div>
  <% end %>
  <div class="gallery_img">
    <a href="/aventures/6"><img src="http://s3-eu-west-2.amazonaws.com/mmidigitales/aventures/aventure_portraits/000/000/006/thumb/femme.jpg?1485248409" alt="Femme"></a>
    <div class="btn btn-white"><a href="/aventures/6">découvrir</a></div>
  </div><div class="gallery_img">
    <a href="/aventures/6"><img src="http://s3-eu-west-2.amazonaws.com/mmidigitales/aventures/aventure_portraits/000/000/006/thumb/femme.jpg?1485248409" alt="Femme"></a>
    <div class="btn btn-white"><a href="/aventures/6">découvrir</a></div>
  </div><div class="gallery_img">
    <a href="/aventures/6"><img src="http://s3-eu-west-2.amazonaws.com/mmidigitales/aventures/aventure_portraits/000/000/006/thumb/femme.jpg?1485248409" alt="Femme"></a>
    <div class="btn btn-white"><a href="/aventures/6">découvrir</a></div>
  </div><div class="gallery_img">
    <a href="/aventures/6"><img src="http://s3-eu-west-2.amazonaws.com/mmidigitales/aventures/aventure_portraits/000/000/006/thumb/femme.jpg?1485248409" alt="Femme"></a>
    <div class="btn btn-white"><a href="/aventures/6">découvrir</a></div>
  </div><div class="gallery_img">
    <a href="/aventures/6"><img src="http://s3-eu-west-2.amazonaws.com/mmidigitales/aventures/aventure_portraits/000/000/006/thumb/femme.jpg?1485248409" alt="Femme"></a>
    <div class="btn btn-white"><a href="/aventures/6">découvrir</a></div>
  </div><div class="gallery_img">
    <a href="/aventures/6"><img src="http://s3-eu-west-2.amazonaws.com/mmidigitales/aventures/aventure_portraits/000/000/006/thumb/femme.jpg?1485248409" alt="Femme"></a>
    <div class="btn btn-white"><a href="/aventures/6">découvrir</a></div>
  </div><div class="gallery_img">
    <a href="/aventures/6"><img src="http://s3-eu-west-2.amazonaws.com/mmidigitales/aventures/aventure_portraits/000/000/006/thumb/femme.jpg?1485248409" alt="Femme"></a>
    <div class="btn btn-white"><a href="/aventures/6">découvrir</a></div>
  </div><div class="gallery_img">
    <a href="/aventures/6"><img src="http://s3-eu-west-2.amazonaws.com/mmidigitales/aventures/aventure_portraits/000/000/006/thumb/femme.jpg?1485248409" alt="Femme"></a>
    <div class="btn btn-white"><a href="/aventures/6">découvrir</a></div>
  </div><div class="gallery_img">
    <a href="/aventures/6"><img src="http://s3-eu-west-2.amazonaws.com/mmidigitales/aventures/aventure_portraits/000/000/006/thumb/femme.jpg?1485248409" alt="Femme"></a>
    <div class="btn btn-white"><a href="/aventures/6">découvrir</a></div>
  </div><div class="gallery_img">
    <a href="/aventures/6"><img src="http://s3-eu-west-2.amazonaws.com/mmidigitales/aventures/aventure_portraits/000/000/006/thumb/femme.jpg?1485248409" alt="Femme"></a>
    <div class="btn btn-white"><a href="/aventures/6">découvrir</a></div>
  </div><div class="gallery_img">
    <a href="/aventures/6"><img src="http://s3-eu-west-2.amazonaws.com/mmidigitales/aventures/aventure_portraits/000/000/006/thumb/femme.jpg?1485248409" alt="Femme"></a>
    <div class="btn btn-white"><a href="/aventures/6">découvrir</a></div>
  </div><div class="gallery_img">
    <a href="/aventures/6"><img src="http://s3-eu-west-2.amazonaws.com/mmidigitales/aventures/aventure_portraits/000/000/006/thumb/femme.jpg?1485248409" alt="Femme"></a>
    <div class="btn btn-white"><a href="/aventures/6">découvrir</a></div>
  </div><div class="gallery_img">
    <a href="/aventures/6"><img src="http://s3-eu-west-2.amazonaws.com/mmidigitales/aventures/aventure_portraits/000/000/006/thumb/femme.jpg?1485248409" alt="Femme"></a>
    <div class="btn btn-white"><a href="/aventures/6">découvrir</a></div>
  </div><div class="gallery_img">
    <a href="/aventures/6"><img src="http://s3-eu-west-2.amazonaws.com/mmidigitales/aventures/aventure_portraits/000/000/006/thumb/femme.jpg?1485248409" alt="Femme"></a>
    <div class="btn btn-white"><a href="/aventures/6">découvrir</a></div>
  </div><div class="gallery_img">
    <a href="/aventures/6"><img src="http://s3-eu-west-2.amazonaws.com/mmidigitales/aventures/aventure_portraits/000/000/006/thumb/femme.jpg?1485248409" alt="Femme"></a>
    <div class="btn btn-white"><a href="/aventures/6">découvrir</a></div>
  </div><div class="gallery_img">
    <a href="/aventures/6"><img src="http://s3-eu-west-2.amazonaws.com/mmidigitales/aventures/aventure_portraits/000/000/006/thumb/femme.jpg?1485248409" alt="Femme"></a>
    <div class="btn btn-white"><a href="/aventures/6">découvrir</a></div>
  </div><div class="gallery_img">
    <a href="/aventures/6"><img src="http://s3-eu-west-2.amazonaws.com/mmidigitales/aventures/aventure_portraits/000/000/006/thumb/femme.jpg?1485248409" alt="Femme"></a>
    <div class="btn btn-white"><a href="/aventures/6">découvrir</a></div>
  </div><div class="gallery_img">
    <a href="/aventures/6"><img src="http://s3-eu-west-2.amazonaws.com/mmidigitales/aventures/aventure_portraits/000/000/006/thumb/femme.jpg?1485248409" alt="Femme"></a>
    <div class="btn btn-white"><a href="/aventures/6">découvrir</a></div>
  </div><div class="gallery_img">
    <a href="/aventures/6"><img src="http://s3-eu-west-2.amazonaws.com/mmidigitales/aventures/aventure_portraits/000/000/006/thumb/femme.jpg?1485248409" alt="Femme"></a>
    <div class="btn btn-white"><a href="/aventures/6">découvrir</a></div>
  </div><div class="gallery_img">
    <a href="/aventures/6"><img src="http://s3-eu-west-2.amazonaws.com/mmidigitales/aventures/aventure_portraits/000/000/006/thumb/femme.jpg?1485248409" alt="Femme"></a>
    <div class="btn btn-white"><a href="/aventures/6">découvrir</a></div>
  </div><div class="gallery_img">
    <a href="/aventures/6"><img src="http://s3-eu-west-2.amazonaws.com/mmidigitales/aventures/aventure_portraits/000/000/006/thumb/femme.jpg?1485248409" alt="Femme"></a>
    <div class="btn btn-white"><a href="/aventures/6">découvrir</a></div>
  </div><div class="gallery_img">
    <a href="/aventures/6"><img src="http://s3-eu-west-2.amazonaws.com/mmidigitales/aventures/aventure_portraits/000/000/006/thumb/femme.jpg?1485248409" alt="Femme"></a>
    <div class="btn btn-white"><a href="/aventures/6">découvrir</a></div>
  </div><div class="gallery_img">
    <a href="/aventures/6"><img src="http://s3-eu-west-2.amazonaws.com/mmidigitales/aventures/aventure_portraits/000/000/006/thumb/femme.jpg?1485248409" alt="Femme"></a>
    <div class="btn btn-white"><a href="/aventures/6">découvrir</a></div>
  </div><div class="gallery_img">
    <a href="/aventures/6"><img src="http://s3-eu-west-2.amazonaws.com/mmidigitales/aventures/aventure_portraits/000/000/006/thumb/femme.jpg?1485248409" alt="Femme"></a>
    <div class="btn btn-white"><a href="/aventures/6">découvrir</a></div>
  </div><div class="gallery_img">
    <a href="/aventures/6"><img src="http://s3-eu-west-2.amazonaws.com/mmidigitales/aventures/aventure_portraits/000/000/006/thumb/femme.jpg?1485248409" alt="Femme"></a>
    <div class="btn btn-white"><a href="/aventures/6">découvrir</a></div>
  </div><div class="gallery_img">
    <a href="/aventures/6"><img src="http://s3-eu-west-2.amazonaws.com/mmidigitales/aventures/aventure_portraits/000/000/006/thumb/femme.jpg?1485248409" alt="Femme"></a>
    <div class="btn btn-white"><a href="/aventures/6">découvrir</a></div>
  </div><div class="gallery_img">
    <a href="/aventures/6"><img src="http://s3-eu-west-2.amazonaws.com/mmidigitales/aventures/aventure_portraits/000/000/006/thumb/femme.jpg?1485248409" alt="Femme"></a>
    <div class="btn btn-white"><a href="/aventures/6">découvrir</a></div>
  </div><div class="gallery_img">
    <a href="/aventures/6"><img src="http://s3-eu-west-2.amazonaws.com/mmidigitales/aventures/aventure_portraits/000/000/006/thumb/femme.jpg?1485248409" alt="Femme"></a>
    <div class="btn btn-white"><a href="/aventures/6">découvrir</a></div>
  </div><div class="gallery_img">
    <a href="/aventures/6"><img src="http://s3-eu-west-2.amazonaws.com/mmidigitales/aventures/aventure_portraits/000/000/006/thumb/femme.jpg?1485248409" alt="Femme"></a>
    <div class="btn btn-white"><a href="/aventures/6">découvrir</a></div>
  </div>
</div>
