<div class="container-fluid container-variable">
  <div class="row">
    <a href="/variables/1"><div class="col-md-1 variable variable-1"><div class="variable-text">communication</div></div></a>
    <a href="/variables/2"><div class="col-md-1 variable variable-2"><div class="variable-text">langue</div></div></a>
    <a href="/variables/3"><div class="col-md-1 variable variable-3"><div class="variable-text">pouvoir</div></div></a>
    <a href="/variables/4"><div class="col-md-1 variable variable-4"><div class="variable-text">culture</div></div></a>
    <a href="/variables/5"><div class="col-md-1 variable variable-5"><div class="variable-text">communauté</div></div></a>
    <a href="/variables/6"><div class="col-md-1 variable variable-6"><div class="variable-text">mouvement</div></div></a>
    <a href="/variables/7"><div class="col-md-1 variable variable-7"><div class="variable-text">évolution</div></div></a>
    <a href="/variables/8"><div class="col-md-1 variable variable-8"><div class="variable-text">espace</div></div></a>
    <a href="/variables/9"><div class="col-md-1 variable variable-9"><div class="variable-text">commerce</div></div></a>
    <a href="/variables/10"><div class="col-md-1 variable variable-10"><div class="variable-text">éducation</div></div></a>
    <a href="/variables/11"><div class="col-md-1 variable variable-11"><div class="variable-text">technique</div></div></a>
    <a href="/variables/12"><div class="col-md-1 variable variable-12"><div class="variable-text">mémoire</div></div></a>
  </div>
</div>
