<div class="container">
  <div class="jumbotron">
    <h2 class="variable_name">
      <%= @variable.name.downcase! %>
    </h2>

    <div class="variable_def">
      <%= @variable.var_def %>
    </div>
  </div>
</div>
<div class="portrait_gallery">
  <% @variable.aventures.each do |aventure| %>
  <div class="gallery_img">
    <%= link_to image_tag(aventure.aventure_portrait.url(:thumb)), aventure %>
    <div class="btn btn-white"><%= link_to "découvrir", aventure %></div>
  </div>
  <% end %>
</div>
